body {background-color:#FFFAF0}

#homeButton{
  background-color: #4169E1;
  border: none;
  color: white;
  padding: 10px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  margin-left: 5rem;
  margin-top: 30px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
}

#topRow{
  display: flex;
  justify-content: space-between;
}

#addUserForm{
  margin-right: 6rem;
}

#cardAttendees{
  display: flex;
  justify-content: space-between;
}

#image{
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.card{
  width: fit-content;
  margin-left: 5rem;
  margin-top: 20px;
}
  .card {
  text-decoration: none;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 350px;
  background-color: white;
  border-radius: 5px;
  margin: 5px;
}

.boardGameInfo{
  display: flex;
  justify-content: center;
}

#attendeesDIV{
  margin-right: 5rem;
  margin-top: 30px;
}

#deleteButton{
  padding: 10px 26px;
  background-color: #4169E1;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 30px;
}